@use 'variables/colors';

@use 'base/base';

@use 'ui/button';
@use 'ui/link';

@use 'components/post-card';
@use 'components/post-block';
@use 'components/toolbar';
@use 'components/pagination';
@use 'components/section';
@use 'components/rec-card';
@use 'components/posts-grid';

@use 'pages/home';
@use 'pages/categories-posts';
@use 'pages/post-show';
@use 'pages/categories-index';
@use 'pages/error404';
